{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}ユーザー名確認・パスワードリセット{% endblock %}

{% block content %}
    <main class="form-signin w-100 m-auto d-flex align-items-center py-4 bg-body-tertiary justify-content-center">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">ユーザー名確認・パスワードのリセット</h1>
            {% bootstrap_form form %}
            {% csrf_token %}
            {% bootstrap_button button_type="submit" content="次へ" %}
        </form>
    </main>
{% endblock %}